# this file is only intended to be copied inside the server's /opt/caddy/ directory
# it exists here for reference only
services:
  caddy:
    image: caddy:2.11-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - shared-network

networks:
  shared-network:
    external: true

volumes:
  caddy_data:
  caddy_config:
